<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<!-- smoosh -->
    <link rel="stylesheet" href="assets/scripts/bootstrap.css"/>
	<link rel='stylesheet' href='bundle.css' />
	<!-- endsmoosh -->

	<!-- boilerplate.css -->

	{{> base/font}}

	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->

	{{> base/analytics }}

</head>

<body class='tk-publico'>

	{{> base/header }}

	<main id='content'>


		<!-- PUT ALL YOUR HTML HERE-->
        <article class="article">
            {{> story/opening}}
            {{> story/card}}
        </article>

	</main>

	{{!--
	<script src='{{basepath}}assets/scripts/d3.v5.0.0.min.js'></script> --}}
	<script src='{{basepath}}assets/scripts/d3.v4.12.0+jetpack.min.js'></script>
	<script src='bundle.js?version={{timestamp}}' async></script>
    <script>

        var currentPage;
        init();

        pageAction(1);
        pageAction(2);
        pageAction(3);
        pageAction2(4);
        pageAction2('4-1');
        pageAction('4-2');
        pageAction2('4-3');
        pageAction2('4-1-1');
        pageAction2('4-1-2');
        pageAction('4-3-1');
        pageAction2('4-3-2');
        pageAction('4-4-1');
        pageAction2('5');
        pageAction('5-1');
        pageAction('5-2');
        pageAction('6');


        function pageAction(pageNum) {
            currentPage = pageNum;
            var $page = d3.select('#Gianni-'+pageNum)

            var $btn1 = d3.select(selectAllBtns($page)[0])

            $btn1.on('click', function () {
                nextStep($btn1)
            });
        }

        function pageAction2(pageNum) {
            var $page = d3.select('#Gianni-'+pageNum)

            var $btn1 = d3.select(selectAllBtns($page)[0])

            $btn1.on('click', function () {
                nextStep($btn1)
            });
            var $btn2 = d3.select(selectAllBtns($page)[1])

            $btn2.on('click', function () {
                nextStep($btn2)
            });
        }

        function goToPrevious(pageid) {
            var currentID = 'Gianni-'+pageid
            d3.selectAll('.card_model')
                    .classed('show', false)
            d3.selectAll('.card_model')
                    .classed('hide', true)
            d3.select('#'+currentID)
                    .classed('hide', false)
            d3.select('#'+currentID)
                    .classed('show', true)
            if(pageid!='all_opening'){
                d3.select('#all-steppers')
                        .classed('hide', false)
            } else{
                d3.select('#all-steppers')
                        .classed('hide', true)
            }
            stepperJump(currentID)
        }

        function nextStep($btn) {
            var nextId = $btn.attr('data-next')
            d3.selectAll('.card_model')
                    .classed('show', false)
            d3.selectAll('.card_model')
                    .classed('hide', true)
            d3.select('#'+nextId)
                    .classed('hide', false)
            d3.select('#'+nextId)
                    .classed('show', true)
            stepperJump(nextId)
        }

        function stepperJump(id) {
            d3.selectAll('.stepper')
                    .classed('stepper-active', false)
            d3.select('#stepper-'+id)
                    .classed('stepper-active', true)
        }
        function selectAllBtns($page) {
            var btns = $page.selectAll('.btn--primary').nodes()
            return btns
        }
        function init() {
            d3.selectAll('.card_model')
                    .classed('hide', true)
            d3.select('#all_opening')
                    .classed('hide', false)
            d3.select('#all-steppers')
                    .classed('hide', true)
        }

        // Change in hash
        window.addEventListener('hashchange', e => {
            if(window.location.hash=='#all_opening'){
                console.log(window.location.hash)
                init()
                return
            }
            let hash = window.location.hash.replace('#Gianni-', '')
            console.log(hash);
            if(hash) {
                goToPrevious(hash) }
            else{
                init()
            }
        })


    </script>
</body>

</html>