/* CUSTOM STORY STYLE */
.site-header
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  width: 100%;
  text-decoration none
  border-bottom none

.icon-color
  fill #e05b43

a.site-header
  margin 0 auto


a {
  color: #333;
  text-decoration: none;
  transition: 0.2s ease-in-out all;
}

.overline
  background-color: #e05b43;
  color: #fdfdfc;
  display: inline-block;
  font-family: "Moderat", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0.5rem;
  text-transform: uppercase;

.card_model
  margin-top 5vh
  width 100vw
  height 95vh

  & .card__content
    text-align center

.card__image
    width 100%
    height auto

.card__content a.btn--primary
  background-color #e05b43
  border 1px solid transparent
  color #fdfdfc
  padding 0.5rem 1.5rem
  margin-bottom 1rem

  &:hover
    background-color #fdfdfc
    border-color #e05b43
    box-shadow 5px 5px 0 0 #e05b43
    color #333

  & .btn__p
    margin 0px
    font-size 0.625rem

.verticalDiv
  margin-top auto
  margin-bottom auto