<div class="row card_model " id='all_opening'>
    <h1 class="opening__title title__game">Choose your identity</h1>
    <div class="col-md-3 col-6">
        <div class="select__div">
            <a href="#Gianni-1"><p class="select__person">Granni</p></a>
        </div>
    </div>
    <div class="col-md-3 col-6">
        <div class="select__div ">
            <p class="select__person">Granni</p>
        </div>
    </div>
    <div class="col-md-3 col-6">
        <div class="select__div">
            <p class="select__person">Granni</p>
        </div>
    </div>
    <div class="col-md-3 col-6">
        <div class="select__div">
            <p class="select__person">Granni</p>
        </div>
    </div>
    <div class="col-md-3 col-6">
        <div class="select__div">
            <p class="select__person">Granni</p>
        </div>
    </div>
    <div class="col-md-3 col-6">
        <div class="select__div">
            <p class="select__person">Granni</p>
        </div>
    </div>
    <div class="col-md-3 col-6">
        <div class="select__div">
            <p class="select__person">Granni</p>
        </div>
    </div>
    <div class="col-md-3 col-6">
        <div class="select__div">
            <p class="select__person">Granni</p>
        </div>
    </div>



</div>
